<section class="hero-section" id="home">

  <div class="container">

    <div class="row align-items-center" syle="min-height: 80vh;">

      <!-- Left Content -->

      <div class="col-lg-6" >

        <span class="hero-badge">
          Senior .NET Developer 
        </span>

        <h4 class="mt-4">
          Hi, I'm
        </h4>

        <h1 class="hero-title">

          Arvind

          <span>
            Vishwakarma
          </span>

        </h1>

        <p class="hero-description">

          Building scalable, secure and high-performance enterprise
          applications using ASP.NET Core, C#, SQL Server and
          modern architecture.

        </p>

        <div class="hero-buttons">

          <button class="btn btn-primary btn-lg me-3">
            View My Projects
            <i class="bi bi-arrow-right ms-2"></i>
          </button>

          <button class="btn btn-outline-primary btn-lg">
            Download Resume
            <i class="bi bi-download ms-2"></i>
          </button>

        </div>

        <!-- Social Icons -->

        <div class="social-container">

          <a href="#" class="social-box">
            <i class="bi bi-github"></i>
          </a>

          <a href="#" class="social-box">
            <i class="bi bi-linkedin"></i>
          </a>

          <a href="#" class="social-box">
            <i class="bi bi-envelope"></i>
          </a>

          <div class="social-box country-box">
            <i class="bi bi-geo-alt"></i>
            India
          </div>

        </div>

      </div>

      <!-- Right Image -->

   <div class="col-lg-6">

    <div class="hero-right">

        <!-- Background Circle -->
        <div class="hero-circle"></div>

        <!-- Profile Image -->
        <img
            src="assets/images/profilepic.png"
            class="hero-image"
            alt="Profile">

        <!-- Statistics Card -->
        <div class="stats-card">

            <div class="stat-item">

                <i class="bi bi-calendar-check"></i>

                <h3>8+</h3>

                <p>Years Experience</p>

            </div>

            <div class="stat-item">

                <i class="bi bi-kanban"></i>

                <h3>20+</h3>

                <p>Projects Delivered</p>

            </div>

            <div class="stat-item">

                <i class="bi bi-people"></i>

                <h3>10+</h3>

                <p>Happy Clients</p>

            </div>

            <div class="stat-item">

                <i class="bi bi-graph-up"></i>

                <h3>100K+</h3>

                <p>Requests Daily</p>

            </div>

        </div>

    </div>

</div>

      

      </div>

    </div>



</section>