

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      
       <img
        src="assets/images/AvLogo.png"
        alt="AV Logo"
        class="logo-img me-2">  

      <div>
        <h3 class="mb-0 fw-bold">Arvind Vishwakarma</h3>
        <small class="text-muted">Senior .NET Developer</small>
      </div>
    </a>

    <!-- Mobile Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent">

      <span class="navbar-toggler-icon"></span>

    </button>

    <!-- Menu -->
    <div
      class="collapse navbar-collapse"
      id="navbarContent">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link active"           
           (click)="scrollTo('home')"
          [class.active]="activeSection === 'home'">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="scrollTo('about')" [class.active]="activeSection === 'about'">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="scrollTo('skills')" [class.active]="activeSection === 'skills'">Skills</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="scrollTo('projects')" [class.active]="activeSection === 'projects'">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="scrollTo('experience')" [class.active]="activeSection === 'experience'">Experience</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="scrollTo('blog')" [class.active]="activeSection === 'blog'">Blog</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  (click)="scrollTo('contact')" [class.active]="activeSection === 'contact'">Contact</a>
        </li>

      </ul>

      <!-- Resume Button -->
      <a
        href="assets/resume.pdf"
        download
        class="btn btn-primary resume-btn">

        Download Resume
        <i class="bi bi-download ms-2"></i>

      </a>

    </div>

  </div>
</nav>