/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

:root {
  --primary: #0F172A;
  --secondary: #334155;
  --accent: #3B82F6;
  --white: #FFFFFF;
}
*{
    font-family: 'Poppins', sans-serif;
}